<div data-ng-include src="'views/includes/connection.html'"></div>
<section data-ng-controller="ChartsController" data-ng-init="list()">
  <div class="row">
    <div class="col-xs-12 col-gray col-gray-fixed">
      <div class="block-id">
        <div class="icon-block text-center">
          <span class="glyphicon glyphicon-stats"></span>
          <h3><span translate>Charts</span></h3>
        </div>
      </div>
      <div class="m20v text-center">
        <span class="fader" data-ng-repeat='(type, c) in charts'>
          <a class="btn btn-primary" style="margin-bottom: 3px" href="charts/{{type}}">{{c.name}}<a>
        </span>
      </div>
    </div>
    <div class="col-xs-12 col-md-9 col-md-offset-3">
      <div class="page-header">
        <h1>
          <span>{{chartName}}</span>
        </h1>
      </div>
      <div data-ng-show="loading">
        <span translate>Loading chart...</span> <span class="loader-gif"></span>
      </div>
      <div data-ng-show="!loading">
        <div id="chart"></div>
      </div>
    </div>
  </div>
</section>

